<div class="row" >
  <h1>About Blocmarks</h1>
</div>

<div class="row" >
  <h4>A free service that allows you to store and retrieve bookmarked sites from anywhere, at anytime! </h4>
</div>

</br>
    
<div class="pull-left">
  <div class="row">
    <h5>What You Need to Do</h5>
  </div>
 
  <div class="row">
    <p> Step 1: Sign up today</p>
  </div>
  <div class="row">
    <p> Step 2: Email us the bookmark link with a hashtag title, that serves as your organizer, as the email subject. Email to: postmaster@app23725926.mailgun.org</p>
  </div>
  <div class="row">
    <p> Step 3: Sign-in to view your own indexed bookmarks and like other users's bookmarks</p>
  </div>
</div>  

