<% if policy(Vote.new).create? %> 
  <div class="vote-arrows pull-left">
    <div>
      <%= link_to " ", 
        bookmark_url_like_vote_path(bookmark, url), class: "glyphicon glyphicon-thumbs-up" %>
    
      <%= link_to " ", 
        bookmark_url_unlike_vote_path(bookmark, url), class: "glyphicon glyphicon-thumbs-down" %>
    </div>
  </div>
<% end %>